<div class="ng-container">
    <div class="card">
        <div class="card-header">
            <h3>Alunos</h3>
        </div>
        <div class="card-board">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Bimestre 1</th>
                        <th>Bimestre 2</th>
                        <th>Bimestre 3</th>
                        <th>BImestre 4</th>
                        <th>Media Final</th>
                        <th>Situacao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
