<div class="ng-container">
    <div class="p-grid">
        <div class="titulo">
            <h2>Situação dos Alunos</h2>
        </div>
        <br>
        <br>
        <div class="card-board">
            <p-table [columns]="cols" [value]="notas">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
